<div class="flex justify-between mt-6">
  <div class="w-2/4">
    <p
      class="text-4xl font-bold text-gray-500 antialiased leading-relaxed tracking-wide"
    >
      Find Partners for Your Next Real Estate Investment
    </p>

    <div class="flex flex-col mt-6 gap-4">
      <div class="flex">
        <p>&nbsp; - &nbsp;</p>
        <p class="text-lg text-gray-400">What we do</p>
      </div>

      <div class="flex flex-col gap-8">
        <p
          class="text-lg text-gray-400 antialiased leading-relaxed tracking-wide"
        >
          We link you up with potential real estate partners, streamline your
          investment, and help you start getting returns in no time!
        </p>

        <hero-btn [content]="'explore'" path="/investments"></hero-btn>
      </div>
    </div>
  </div>

  <img
    class="w-56 h-56 border rounded-lg border-gray-400"
    src=""
    alt="Home Silhouette"
  />
</div>

<router-outlet></router-outlet>


<!-- <div class="flex flex-col mt-6">
  <div class="flex">
    <p>-</p>
    <p class="text-lg text-gray-400">What we do</p>
  </div>
  <p class="text-lg text-gray-400 antialiased leading-relaxed tracking-wide">
    We link you up with potential real estate partners, streamline your
    investment, and help you start getting returns in no time!
  </p>
</div> -->
